.footer_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer_item {
    flex:none;
    height:100%;
}
.footer_item > ul > li > a{
    text-decoration:none;
    color:black;
}