.tab_menu_container {
  display:flex;
}
.tab_menu_btn {
  background:none;
  border:0;
  outline:0;
  cursor:pointer;
  width:100px;
  height:40px;
  transition:0.3s all;
  text-align: center;
  font-size: 15px;
  font-weight:bold;

}

.tab_menu_btn.on:after{
  content: "";
  display: block;
  width:20px;
  border-bottom:2px solid;
  margin: auto;
}

.tab_menu_btn:hover {
  font-size: 14px;
}
.tab_box {
  display:none;
  padding:20px;
}
.tab_box.on {
  display:block;
}
.search{
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 800px;
  border:solid;
  border-radius: 15px;
}

.stay_option {
  height: 40px;
  border: none;
  margin: 10px auto;
}

.stay_option:focus {
  border:gray;
}

.exp_option {
  height: 40px;
  width: 50%;
  border: none;
  margin: 10px auto;
}

.exp_option:focus {
  border:gray;
}