div.header_top
    a(href="https://www.airbnb.co.kr/resources/hosting-homes?persona=guest") 에어비앤비의 코로나19 대응 방안에 대한 최신 정보를 확인하세요.

nav.header_container
    div.header_item
        a(href='/')
            img(src='/images/logo.PNG', height='47px')
    div(class="header_item searchBar")
        div.tab_menu_container
            button(class='tab_menu_btn on', id='stayBtn') 숙소
            button(class='tab_menu_btn', id='experienceBtn') 체험
            a(href="https://www.airbnb.co.kr/s/experiences/online")
                button(class='tab_menu_btn', id='onlineBtn') 온라인 체험
        div.tab_box_container
            div(class='tab_box on', id='stay')
                form.search_container(action='/search', method='post')
                    div.search_item
                        label(for="address") 위치
                        input#address(type='text', placeholder='어디로 여행가세요?', name='address', required)
                    div.search_item
                        label(for="checkIn") 체크인
                        input#checkIn(type="text", placeholder="날짜 추가", onfocus="(this.type='date')", name='check_in', required)
                    div.search_item
                        label(for="checkOut") 체크아웃
                        input#checkOut(type="text", placeholder="날짜 추가", onfocus="(this.type='date')", name='check_out',disabled, required)
                    div.search_item
                        label(for="personnel") 인원
                        input#personnel(type='number', placeholder='게스트 추가', name='personnel', min="1", required)
                    button.searchBtn 
                        i(class="fas fa-search fa-2x")
            div(class='tab_box', id='experience')
                form.search_container(action='/search', method='post')
                    div.search_item
                        label(for="exp_address") 위치
                        br
                        input#exp_address(type='text', placeholder='어디로 여행가세요?', name='address', required)
                    div.search_item
                        label(for="exp_date") 날짜
                        br
                        input#exp_date(type="text", placeholder="날짜 추가", onfocus="(this.type='date')", name='date', required)
                    button.searchBtn
                        i(class="fas fa-search fa-2x")
    div(class="header_item hostBtn")
        button.hostBtn 호스트 되기
    div(class="header_item")
        button.globeBtn
            img.globe(src='/images/globe.png')
            i(class="fas fa-angle-down")
    div.header_item
        div.header_dropdown
            button.dropBtn
                img.burger(src='/images/burger.png', height='20px')
                img.user_icon(src='/images/user.png', height='30px')
            div(class="dropdown-content hidden")
                a#loginBtn 로그인
                a#signupBtn 회원가입
                hr
                a(href="https://www.airbnb.co.kr/host/homes") 숙소 호스트 되기
                a(href="https://www.airbnb.co.kr/d/onlinehost") 체험 호스트 되기
                a(href="https://www.airbnb.co.kr/help/home") 도움말

    div(class="login hidden")
        div.modal_overlay
        div.modal_content
            include login
    div(class="signup hidden")
        div.modal_overlay
        div.modal_content
            include signup
div(class="drop_overlay hidden")


script(src='/javascripts/header.js')

