div.modalTop
    button &times
div.modalTitle 로그인
form.loginForm(action='/login', method='post')
    table
        tr
            td
                input.modalInput(type='email', placeholder='이메일',name='id', required)
        tr
            td
                input.modalInput(type='password', placeholder='비밀번호', name='password', required)
        tr
            td
                input.modalSubmit(type='submit', value='로그인')
