div.modalTop
    button &times
div.modalTitle 회원가입

form.signupForm(action='/signup', method='post')
    table
        tr
            td
                input.modalInput(type='email', placeholder='이메일',name='id', required)
        tr
            td
                input.modalInput(type='password', placeholder='비밀번호', name='password', required)
        tr
            td
                input.modalInput(type='text', placeholder='이름',name='name', required)
        tr
            td
                input.modalInput(type='text', placeholder='전화번호: 010-0000-0000', name='phone', required)
        tr
            td
                input.modalSubmit(type='submit', value='회원가입')

        
