div.footer_container
    div.footer_item
        ul 소개
            li 
                a(href="https://www.airbnb.co.kr/d/howairbnbworks") 에어비앤비 이용방법
            li 
                a(href="https://news.airbnb.com/ko/") 뉴스룸
            li 
                a(href="https://www.airbnb.co.kr/plus") 에어비앤비 플러스
            li
                a(href="https://www.airbnb.co.kr/luxury") 에어비앤비 Luxe
            li 
                a(href="https://www.hoteltonight.com/?utm_source_name=Airbnb&utm_campaign_name=Dr_Us_Desktop_Airbnb_Footer") 호텔투나잇
            li 
                a(href="https://www.airbnb.co.kr/work?s=footer") 에어비앤비 비즈니스 프로그램
            li 
                a(href="https://www.airbnb.co.kr/d/olympics") 올림픽
            li 
                a(href="https://careers.airbnb.com/") 채용정보
    div.footer_item
        ul 커뮤니티
            li 
                a(href="https://www.airbnb.co.kr/diversity") 다양성 및 소속감
            li 
                a(href="https://www.airbnb.co.kr/accessibility") 접근성
            li 
                a(href="https://www.airbnb.co.kr/associates?from=footer") 에어비비 어소시에이트
            li 
                a(href="https://www.airbnb.co.kr/d/covid19relief") 구호 인력을 위한 숙소
            li 
                a(href="https://www.airbnb.co.kr/invite?r=6") 친구 초대하기
    div.footer_item
        ul 호스팅하기
            li 
                a(href="https://www.airbnb.co.kr/host/homes?from_footer=1") 숙소 호스팅
            li 
                a(href="https://www.airbnb.co.kr/d/onlinehost") 온라인 체험 호스팅하기
            li 
                a(href="https://www.airbnb.co.kr/host/experiences") 체험 호스팅하기
            li 
                a(href="https://www.airbnb.co.kr/resources/hosting-homes/t/leadership-updates-35") 브라이언 체스키 CEO의 메시지
            li 
                a(href="https://www.airbnb.co.kr/help/article/1387") 책임감 있는 호스팅
            li 
                a(href="https://www.airbnb.co.kr/openhomes?from_footer=1") Open Homes
            li 
                a(href="https://www.airbnb.co.kr/resources/hosting-homes") 자료 센터
            li 
                a(href="https://community.withairbnb.com/t5/Community-Center-KR/ct-p/Community-Center-Korean") 커뮤니티 센터
    div.footer_item
        ul 에어비앤비 지원
            li 
                a(href="https://www.airbnb.co.kr/resources/hosting-homes") 코로나19 관련 업데이트
            li 
                a(href="https://www.airbnb.co.kr/help/home") 도움말 센터
            li 
                a(href="https://www.airbnb.co.kr/help/article/2701/extenuating-circumstances-policy-and-the-coronavirus-covid19") 예약 취소 옵션
            li 
                a(href="https://www.airbnb.co.kr/neighbors") 에어비앤비 이웃 민원 지원
            li 
                a(href="https://www.airbnb.co.kr/trust") 신뢰와 안전