div.header_container
    div.header_item
        a(href='/')
            img(src='/images/logo.PNG', height='50px')
    div.header_item
        div.tab_menu_container
            button(class='tab_menu_btn on', id='stayBtn') 숙소
            button(class='tab_menu_btn', id='experienceBtn') 체험
            a(href="/")
                button(class='tab_menu_btn', id='onlineBtn') 온라인 체험
        div.tab_box_container
            div(class='tab_box on', id='stay')
                form.search_container(action='/search', method='post')
                    div.search_item
                        label(for="address") 위치
                        input#address(type='text', placeholder='어디로 여행가세요?', name='address')
                    div.search_item
                        label(for="checkIn") 체크인
                        input#checkIn(type="text", placeholder="날짜 추가", onfocus="(this.type='date')", name='check_in')
                    div.search_item
                        label(for="checkOut") 체크아웃
                        input#checkOut(type="text", placeholder="날짜 추가", onfocus="(this.type='date')", name='check_out')
                    div.search_item
                        label(for="personnel") 인원
                        input#personnel(type='number', placeholder='게스트 추가', name='personnel')
                    button.searchBtn 
                        i(class="fas fa-search fa-2x")
            div(class='tab_box', id='experience')
                form.search_container(action='/search', method='post')
                    div.search_item
                        label(for="exp_address") 위치
                        br
                        input#exp_address(type='text', placeholder='어디로 여행가세요?', name='address')
                    div.search_item
                        label(for="exp_date") 날짜
                        br
                        input#exp_date(type="text", placeholder="날짜 추가", onfocus="(this.type='date')", name='date')
                    button.searchBtn
                        i(class="fas fa-search fa-2x")
            div(class='tab_box', id='online') 온라인체험
    div.header_item
        div.header_dropdown
            button.dropbtn 메뉴
                div.dropdown-content
                    a#loginBtn 로그인
                    a#signupBtn 회원가입

    //- 모달
    div(class="login hidden")
        div.modal_overlay
        div.modal_content
            include login.pug

    div(class="signup hidden")
        div.modal_overlay
        div.modal_content
            include signup.pug
            