doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://use.fontawesome.com/releases/v5.2.0/js/all.js")
    block script
  body
    div.container
        div.item
          a(href='/')
            img(src='/images/logo.PNG', height='50px')
        div.item
          div.dropdown
            button.dropbtn 메뉴
            div.dropdown-content
              a(href="/login", id='login') 로그인
              a(href="/signup") 회원가입
    block content
