doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
        div.item
          a(href='/')
            img(src='/images/logo.PNG', height='50px')
        div.item
          a(href='/login')
            button 로그인
          a(href='/signup')
            button 회원가입
    block content
