doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
    script(src='/javascripts/searchBar.js')
    script(src="https://use.fontawesome.com/releases/v5.2.0/js/all.js")
    block script
  body
    header
      include header.pug
    
    section
      block content
    hr
    footer
      include footer.pug
        



