doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block script
  body
    h2 로그인
    form(action='/login', method='post')
        table
            tr
                td
                    input(type='text', placeholder='아이디',name='id')
            tr
                td
                    input(type='password', placeholder='비밀번호', name='password')
            tr
                td
                    input(type='submit', value='로그인')

        
