extends layout

block script

block content
  section
    article
      //- button#open open modal
      //- div(class="modal hidden")
      //-     div.modal_overlay
      //-     div.modal_content
      //-         h1 modal
      //-         button &times
    
  